:root {
    --font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --c-brand: #3f51b5;
    --c-brand-light: #6a75b4;
}

html.dark {
    --c-brand-light: #3f51b5;
    --c-brand: #6a75b4;
}

button {
    padding: .5em 1em;
}