<template>
  <Layout>
    <template #page-top>
      <section class="blog-page-top">
        <h1>{{$page.title}}</h1>
      </section>
    </template>
  </Layout>
</template>
<script>
import Layout from "@vuepress/theme-default/lib/client/layouts/Layout.vue";
export default {
  components: {
    Layout,
  },
};
</script>
<style>
.blog-page-top {
  max-width: var(--content-width);
  margin: 0 auto;
}
</style>