<template>
  <div class="dbaas dbaas-budgeter">
    <div>
      <button
        v-for="preset in presets"
        :key="preset"
        v-on:click="budget = preset"
      >
        ${{preset}}
      </button>
    </div>

    <table style="display:table; width:100%;">
      <tr>
        <td class="label" style="width:8em;">
          Budget: <strong>{{$filters.currencyUSD(budget)}}</strong>
        </td>
        <td class="input">
          <input
            type="range"
            v-model="budget"
            min="1"
            max="250"
            style="width:100%;"
          />
        </td>
      </tr>
    </table>
    <table>
      <thead>
        <tr>
          <th class="label">Vendor</th>
          <th style="width:100%;">Matching Instance Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tr v-if="awsPlan.price">
        <td>Amazon RDS</td>
        <td>{{awsPlan.description}} ({{awsPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(budget)}}</td>
      </tr>
      <tr v-if="lightsailPlan.price">
        <td>Amazon Lightsail</td>
        <td>{{lightsailPlan.description}} ({{lightsailPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(lightsailPlan.price)}}</td>
      </tr>
      <tr v-if="azurePlan.price">
        <td>Azure Database</td>
        <td>{{azurePlan.description}} ({{azurePlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(budget)}}</td>
      </tr>
      <tr v-if="doPlan.price">
        <td>Digital Ocean</td>
        <td>{{doPlan.description}}</td>
        <td class="price">{{$filters.currencyUSD(doPlan.price)}}</td>
      </tr>
      <tr v-if="elephantPlan.price">
        <td>ElephantSQL</td>
        <td>{{elephantPlan.description}} ({{elephantPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(elephantPlan.price)}}</td>
      </tr>
      <tr v-if="flyIOPlan.price">
        <td>Fly.io</td>
        <td>{{flyIOPlan.description}} ({{flyIOPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(budget)}}</td>
      </tr>
      <tr v-if="gcpPlan.price">
        <td>Google Cloud SQL</td>
        <td>{{gcpPlan.description}}</td>
        <td class="price">{{$filters.currencyUSD(budget)}}</td>
      </tr>
      <tr v-if="herokuPlan.price">
        <td>Heroku Postgres</td>
        <td>{{herokuPlan.description}} ({{herokuPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(herokuPlan.price)}}</td>
      </tr>
      <tr v-if="renderPlan.price">
        <td>Render</td>
        <td>{{renderPlan.description}} ({{renderPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(renderPlan.price)}}</td>
      </tr>
      <tr v-if="scaleGridPlan.price">
        <td>ScaleGrid</td>
        <td>{{scaleGridPlan.description}} ({{scaleGridPlan.name}})</td>
        <td class="price">{{$filters.currencyUSD(scaleGridPlan.price)}}</td>
      </tr>
    </table>
  </div>
</template>
<script>
import {
  budgetAWS,
  budgetAzure,
  budgetDigitalOcean,
  budgetElephant,
  budgetFlyIO,
  budgetGCP,
  budgetHeroku,
  budgetLightsail,
  budgetRender,
  budgetScaleGrid,
} from "./dbaas";

export default {
  name: "DbaasBudgeter",
  data() {
    return { budget: 50 /* USD*/, presets: [10, 20, 50, 100, 150, 200] };
  },
  computed: {
    awsPlan() {
      return budgetAWS(this.budget);
    },
    azurePlan() {
      return budgetAzure(this.budget);
    },
    doPlan() {
      return budgetDigitalOcean(this.budget);
    },
    elephantPlan() {
      return budgetElephant(this.budget);
    },
    flyIOPlan() {
      return budgetFlyIO(this.budget);
    },
    gcpPlan() {
      return budgetGCP(this.budget);
    },
    herokuPlan() {
      return budgetHeroku(this.budget);
    },
    lightsailPlan() {
      return budgetLightsail(this.budget);
    },
    renderPlan() {
      return budgetRender(this.budget);
    },
    scaleGridPlan() {
      return budgetScaleGrid(this.budget);
    },
  },
};
</script>
