<template>
  <div class="dbaas dbaas-calculator">
    <div>
      <button
        v-for="preset in presets"
        :key="preset.name"
        v-on:click="applyPreset(preset)"
        :title="preset.description"
      >
        {{ preset.name }}
      </button>
    </div>
    <table id="calculator-inputs">
      <tr>
        <td class="label">
          <label for="inputCores">Cores: <strong>{{ cores }}</strong></label>
        </td>
        <td class="input">
          <input
            id="inputCores"
            type="range"
            v-model.number="cores"
            min="1"
            max="8"
          />
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="inputMemory">Memory: <strong>{{ memoryGB }} GB</strong></label>
        </td>
        <td class="input">
          <input
            id="inputMemory"
            type="range"
            v-model.number="memoryGB"
            min="1"
            max="64"
          />
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="inputStorage">Storage: <strong>{{ storageGB }} GB</strong></label>
        </td>
        <td class="input">
          <input
            id="inputStorage"
            type="range"
            v-model.number="storageGB"
            min="1"
            max="750"
          />
        </td>
      </tr>
    </table>
    <div style="float:right">
      <Badge>Cheapest</Badge>
      <Badge type="warning">Median</Badge>
    </div>
    <h4>Vendor Monthly Price Estimates</h4>
    <table>
      <thead>
        <tr>
          <th class="label">Vendor</th>
          <th style="width:100%;">Matching Instance Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tr :class="priceClass(awsTotal)">
        <td>Amazon RDS</td>
        <td>{{ awsPlan.description }} ({{ awsPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(awsTotal) }}</td>
      </tr>
      <tr :class="priceClass(lightsailPlan.price)">
        <td>Amazon Lightsail</td>
        <td>{{ lightsailPlan.description }} ({{ lightsailPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(lightsailPlan.price) }}</td>
      </tr>
      <tr :class="priceClass(azureTotal)">
        <td>Azure Database</td>
        <td>{{ azurePlan.description }} ({{ azurePlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(azureTotal) }}</td>
      </tr>
      <tr :class="priceClass(doPlan.price)">
        <td>Digital Ocean</td>
        <td>{{ doPlan.description }}</td>
        <td class="price">{{ $filters.currencyUSD(doPlan.price) }}</td>
      </tr>
      <tr :class="priceClass(elephantPlan.price)">
        <td>ElephantSQL</td>
        <td>{{ elephantPlan.description }} ({{ elephantPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(elephantPlan.price) }}</td>
      </tr>
      <tr :class="priceClass(flyIOTotal)">
        <td>Fly.io</td>
        <td>{{ flyIOPLan.description }} ({{ flyIOPLan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(flyIOTotal) }}</td>
      </tr>
      <tr :class="priceClass(gcpTotal)">
        <td>Google Cloud SQL</td>
        <td>{{ gcpPlan.description }}</td>
        <td class="price">{{ $filters.currencyUSD(gcpTotal) }}</td>
      </tr>
      <tr :class="priceClass(herokuPlan.price)">
        <td>Heroku Postgres</td>
        <td>{{ herokuPlan.description }} ({{ herokuPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(herokuPlan.price) }}</td>
      </tr>
      <tr :class="priceClass(renderPlan.price)">
        <td>Render</td>
        <td>{{ renderPlan.description }} ({{ renderPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(renderPlan.price) }}</td>
      </tr>
      <tr :class="priceClass(scaleGridPlan.price)">
        <td>ScaleGrid</td>
        <td>{{ scaleGridPlan.description }} ({{ scaleGridPlan.name }})</td>
        <td class="price">{{ $filters.currencyUSD(scaleGridPlan.price) }}</td>
      </tr>
    </table>
  </div>
</template>
<script>
import {
  getAWSPlan,
  getAzurePlan,
  getDigitalOceanPlan,
  getElephantPlan,
  getFlyIOPlan,
  getGCPPlan,
  getHerokuPlan,
  getLightsailPlan,
  getRenderPlan,
  getScaleGridPlan,
} from "./dbaas";

const PRESETS = [
  { name: "micro", storageGB: 10, cores: 1, memoryGB: 1 },
  { name: "small", storageGB: 20, cores: 1, memoryGB: 2 },
  { name: "medium", storageGB: 40, cores: 1, memoryGB: 4 },
  { name: "large", storageGB: 100, cores: 2, memoryGB: 8 },
  { name: "huge", storageGB: 300, cores: 4, memoryGB: 16 },
  { name: "enormous", storageGB: 600, cores: 8, memoryGB: 32 },
];
PRESETS.forEach((p) => {
  p.description = `Preset for ${p.cores} cores, ${p.memoryGB} GB memory, ${p.storageGB} GB storage`;
});

export default {
  name: "DbaasCalculator",
  data() {
    return { storageGB: 10, cores: 1, memoryGB: 2, presets: PRESETS };
  },
  computed: {
    awsPlan() {
      return getAWSPlan(this.memoryGB, this.cores);
    },
    awsTotal() {
      return this.awsPlan.fullPrice(this.storageGB);
    },
    azurePlan() {
      return getAzurePlan(this.memoryGB, this.cores);
    },
    azureTotal() {
      return this.azurePlan.fullPrice(this.storageGB);
    },
    doPlan() {
      return getDigitalOceanPlan(this.memoryGB, this.storageGB, this.cores);
    },
    elephantPlan() {
      return getElephantPlan(this.memoryGB, this.storageGB, this.cores);
    },
    flyIOPLan() {
      return getFlyIOPlan(this.memoryGB, this.cores);
    },
    flyIOTotal() {
      return this.flyIOPLan.fullPrice(this.storageGB);
    },
    gcpPlan() {
      return getGCPPlan(this.memoryGB, this.cores);
    },
    gcpTotal() {
      return this.gcpPlan.fullPrice(this.storageGB);
    },
    herokuPlan() {
      return getHerokuPlan(this.memoryGB, this.storageGB);
    },
    lightsailPlan() {
      return getLightsailPlan(this.memoryGB, this.storageGB, this.cores);
    },
    renderPlan() {
      return getRenderPlan(this.memoryGB, this.storageGB, this.cores);
    },
    scaleGridPlan() {
      return getScaleGridPlan(this.memoryGB, this.storageGB, this.cores);
    },
    allPrices() {
      const prices = [
        this.awsTotal,
        this.azureTotal,
        this.doPlan.price,
        this.elephantPlan.price,
        this.flyIOTotal,
        this.gcpTotal,
        this.herokuPlan.total,
        this.lightsailPlan.total,
        this.renderPlan.total,
        this.scaleGridPlan.total,
      ];
      return prices.filter((p) => p > 0).sort((a, b) => a - b);
    },
    medianPrice() {
      const prices = this.allPrices;
      if (prices.length < 2) return prices[0];
      return prices[Math.floor(prices.length / 2)];
    },
    cheapestPrice() {
      return this.allPrices[0];
    },
  },
  methods: {
    applyPreset(preset) {
      this.cores = preset.cores;
      this.storageGB = preset.storageGB;
      this.memoryGB = preset.memoryGB;
    },
    priceClass(price) {
      return {
        cheapest: price === this.cheapestPrice,
        median: price === this.medianPrice,
      };
    },
  },
};
</script>
<style>
.dbaas-calculator .cheapest {
  background-color: var(--c-tip);
  color: var(--c-tip-text);
  font-weight: bolder;
}

.dbaas-calculator .median {
  background-color: var(--c-warning);
  color: var(--c-warning-text);
}

#calculator-inputs {
  display:table;
  width: 100%;
}

#calculator-inputs input {
  width: 100%;
}

#calculator-inputs .label {
  width: 8em;
}
</style>
