<template>
  <RouterLink
    v-if="link"
    class="page-link"
    :to="link.path"
  >{{ link.title }}</RouterLink>
</template>

<script>
import latest from "@temp/latest";

export default {
  name: "LatestLink",
  props: {
    linkType: {
      type: String,
      default: "article",
    },
  },
  computed: {
    link() {
      return latest[this.linkType];
    },
  },
};
</script>
