<template>
  <div
    class="click-reveal"
    @mousedown="clickStart()"
    @touchstart="clickStart()"
    @mouseup="clickEnd()"
    @mouseout="clickEnd()"
  >
    <span v-if="isClicking">raspberry, {{ joinedWords }}, noodle</span>
    <span v-else>(click here to reveal)</span>
  </div>
</template>

<script>
const STABLE_TIME = 3000;
const ALL_WORDS = [
  ["purpose", "porpoise", "propose"],
  ["blow", "blew", "bowl", "below", "bellow"],
  ["meander", "meaner", "minor", "miner", "manner"],
  ["fall", "fell", "feel", "flaw", "foal", "fill"],
  ["picnic", "picket", "packet", "pocket"],
  ["miss", "mess", "mass", "moss"],
];
export default {
  name: "MemoryTest",
  data() {
    return {
      isClicking: false,
      words: ALL_WORDS.map((w) => w[0]),
      lastActivated: 0,
    };
  },
  methods: {
    clickStart() {
      if (this.isClicking) return;
      this.isClicking = true;
      if (
        this.lastActivated > 0 &&
        Date.now() - this.lastActivated > STABLE_TIME
      ) {
        const words = [...this.words];
        const wordIdx = Math.floor(Math.random() * words.length);
        const choices = ALL_WORDS[wordIdx].filter((w) => w !== words[wordIdx]);
        const newWord = choices[Math.floor(Math.random() * choices.length)];
        console.log(`goodbye ${words[wordIdx]}, hello ${newWord}`);
        words[wordIdx] = newWord;
        this.words = words;
      }
    },
    clickEnd() {
      if (this.isClicking) {
        this.isClicking = false;
        this.lastActivated = Date.now();
      }
    },
  },
  computed: {
    joinedWords() {
      return this.words.join(", ");
    },
  },
};
</script>
<style>
.click-reveal {
  border: 1px solid var(--c-tip);
  padding: 2px;
  position: relative;
  top: -1px;
  user-select: none;
  cursor: pointer;
  display: inline;
}
</style>
