<template>
  <div>
    <div
      v-if="page.date !== '0000-00-00'"
      class="date-published"
    >
      {{$filters.dateLong(page.date)}}
    </div>
    <h3>
      <RouterLink :to="page.path">{{page.title}}</RouterLink>
    </h3>
    <div
      v-if="page.excerpt"
      v-html="page.excerpt"
    ></div>
    <p v-else-if="page.description">
      {{page.description}} <br />
      {{headers}}
    </p>
    <hr>
  </div>
</template>
<script>
export default {
  props: { page: Object },
  computed: {
    headers() {
      if (!this.page.headers) return "";
      return this.page.headers
        .filter((h) => h.level === 2)
        .map((h) => h.title)
        .join(", ");
    },
  },
};
</script>
<style scoped>
.date-published {
  float: right;
  color: var(--c-text-lightest);
}
</style>
