<template>
  <section>
    <PageDetails
      v-for="page in pages"
      :key="page.key"
      :page="page"
    />
  </section>
</template>
<script>
import pageData from "@temp/pageData";
import PageDetails from "./PageDetails.vue";
export default {
  components: { PageDetails },
  props: {
    reverse: Boolean
  },
  computed: {
    pages() {
      const path = this.$page.path;
      const filtered = pageData.filter(
        (p) => p.path && p.path.startsWith(path) && p.path !== path
      );
      if(this.reverse) filtered.reverse();
      return filtered;
    },
  },
};
</script>
